<!doctype html>
<title>Hasan's Milestone Project!</title>
<!--link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.css" type="text/css"-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class=page>
  <h1>Historical Stock Price Plotter</h1>

  <div class=metanav>

    <h3>This app plots stock price data over a single year, simply input a ticker and the desired year below. Data is pulled from the Quandl WIKI dataset which currently contains data from 1996-2018.</h3>

    <h4>
      <form id='answerform' method='post' action='graph' >
  <p>
    Ticker : <input type='text' name='tickerText' placeholder='GOOG' />
    </p>
        <p>
    <!-- hidden input means that even if nothing is checked, sanity ensured -->
    <!-- see http://www.sitepoint.com/html-radio-radio-button-defaults/ -->
    <!-- input type="hidden" name='pricecheck' value='Close' / -->

    <input type="radio" name='priceCheck' value='Close' align='left' checked='yes' /> Closing price<br>
    <input type="radio" name='priceCheck' value='Open' align='left' /> Opening price<br>
    <input type="radio" name='priceCheck' value='High' align='left' /> Highest price of the day<br>
    <input type="radio" name='priceCheck' value='Low' align='left' /> Lowest price of the day<br>

        </p>

        <p>
          <input type='submit' value='Plot' />
        </p>
      </form>
    </h4>
  <h2> {{ msg }} </h2>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>